* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #E9EBEE;
}
.class1{
    border: 2px solid #365899;
    border-radius: 100px;
    width: 50%;
    margin: auto;
    font-family: verdana, Helvetica, sans-serif;
    height: 50%;
    background: #365899;
    font-weight: bolder;
}
.rsp{
    color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    padding: 20px 20px 0px 20px;
}
.class2{
    padding-top: 50px;
}
.edit{
    margin: 20px;
}
input[type = password] {
    font-family: verdana, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    border-color: #E9EBEE;
}

input[type = text] {
    font-family: verdana, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    border-color: #E9EBEE;
}
.sb1{
    font-family: verdana, Helvetica, sans-serif;
    height: 40px;
    width: 30%;
    font-weight: bolder;
    background: #1356d2;
    border-color: #1356d2;
    color: #FFFFFF;
    font-weight: bolder;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    margin-left: 20%;
}
.sb2{
    font-family: verdana, Helvetica, sans-serif;
    height: 40px;
    width: 30%;
    font-weight: bolder;
    background: #02B875;
    border-color: #02B875;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
}
.text-danger{
    color: #FFFFFF;
    font-size: 20px;
}
@media (max-width: 768px) {
    .class1 {
        width: 90%;
    }
}

.custom-control-label::before {
    background-color: #146EB4;
    border: #dee2e6
}

