* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: #E9EBEE;
}
.class1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bolder;
    font-family: verdana, Helvetica, sans-serif;
    text-align: center;
}
.class1 p{
    padding-bottom: 5px;
}
.class2{
    color:#FFFFFF;
    font-size: 100%;
    font-weight: bolder;
    font-family: verdana, Helvetica, sans-serif;
}
.class2 p{
    padding-bottom: 35px;
}
.full-box {
    gap: 10%;
    width: 60%;
    margin: auto;
    padding: 70px;
    display: flex;
    margin-top: 25vh;
    align-items: center;
    justify-content: center;
    border: 2px solid #365899;
    border-radius: 150px;
    background: #365899;
}
input[type = email] {
    width: 80%;
    height: 45px;
    font-size: 15px;
    border-radius: 20px;
    border-color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    font-family: verdana, Helvetica, sans-serif;
}
input.text1 {
    width: 50%;
    height: 45px;
    font-size: 15px;
    border-radius: 20px;
    border-color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    font-family: verdana, Helvetica, sans-serif;
}
input.text2 {
    height: 45px;
    width: 42.1%;
    font-size: 15px;
    border-radius: 20px;
    border-color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    font-family: verdana, Helvetica, sans-serif;
}
label button {
    width: 43px;
    height: 43px;
    border-radius: 50px;
    background: #FFFFFF;
    border-color: #FFFFFF;
}
label button i {
    color: #365899;
    font-size: 22px;
}
.sb {
    width: 19%;
    height: 45px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    align-items: center;
    font-weight: bolder;
    background: #02B875;
    font-weight: bolder;
    border-color: #02B875;
    padding: 5px 20px 5px 20px;
    font-family: verdana, Helvetica, sans-serif;
}
@media (max-width: 768px) {
    .full-box {
        flex-direction: column;
    }
    .sb{
        width: 100%;
    }
    input[type="email"] {
        width: 100%;
    }
    .full-box {
        width: 100%;
    }
}