/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 16, 2023, 1:41:45 PM
    Author     : Nguyen Nguyen Khoa
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #E9EBEE;
}
.class1{
    border: 2px solid #365899;
    border-radius: 100px;
    width: 40%;
    margin: auto;
    font-family: verdana, Helvetica, sans-serif;
    height: 600px;
    background: #365899;
    font-weight: bolder;
}
.signup{
    color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
    font-size: 65px;
    padding: 20px 20px 0px 20px;
}
.note{
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
}
.class2{
    padding-top: 50px;
}
.edit{
    margin: 20px;
}
input[type = text] {
    font-family: verdana, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    border-color: #E9EBEE;
}
input[type = email] {
    font-family: verdana, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    border-color: #E9EBEE;
}

input[type = password] {
    font-family: verdana, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    border-color: #E9EBEE;
}
input.text1 {
    font-family: verdana, Helvetica, sans-serif;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    border-color: #E9EBEE;
}
input.text2 {
    font-family: verdana, Helvetica, sans-serif;
    height: 40px;
    width: 40.5%;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    border-color: #E9EBEE;
}
label button {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: #FFFFFF;
    border-color: #FFFFFF;
}

label button i {
    font-size: 22px;
    color: #4267b2;
}

.sb{
    font-family: verdana, Helvetica, sans-serif;
    height: 50px;
    width: 40%;
    font-weight: bolder;
    background: #02B875;
    border-color: #02B875;
    color: #FFFFFF;
    font-weight: bolder;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    margin-left: 30%;
}
@media (max-width: 768px) {
    .class1 {
        width: 90%;
    }
}

